subject = "Your Gift Subscription to The Sewanee Review"

==

Congratulations, {{ recip_fname }}!
You have been given a gift subscription to The Sewanee Review by {{ buyer_fname }} {{ buyer_lname }}.

To setup your account and enter your mailing address, please follow this link: {{ card_register }}

Happy Reading,

The Sewanee Review
==

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html lang="en-US" dir="ltr" style="height: 100%; font-size: 14px; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; box-sizing: border-box;" data-ember-extension="1">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="profile" href="http://gmpg.org/xfn/11">

    <title>The Sewanee Review – America's longest-running literary quarterly</title>
</head>
<body data-foo="bar" style="box-sizing: inherit; font-size: 14px; line-height: 2; -webkit-font-smoothing: antialiased; font-family: adobe-caslon-pro, serif; font-weight: 400; background-color: rgb(255, 255, 255) !important; color: rgb(0, 0, 0) !important; margin: 0px;" bgcolor="#fff !important" cz-shortcut-listen="true">
<style>

    .uk-subnav-line > :before {
        display: inline-block !important;
    }

    .uk-subnav > * > :focus {
        color: #07D !important;
        text-decoration: none !important;
    }

    .uk-subnav > * > :hover {
        color: #07D !important;
        text-decoration: none !important;
    }

    .uk-subnav-line > :before {
        content: "" !important;
        height: 10px !important;
        vertical-align: middle !important;
    }

    .uk-subnav-pill > * > :focus {
        background: #fafafa !important;
        color: #444 !important;
        text-decoration: none !important;
        outline: 0 !important;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) !important;
    }

    .uk-subnav-pill > * > :hover {
        background: #fafafa !important;
        color: #444 !important;
        text-decoration: none !important;
        outline: 0 !important;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) !important;
    }

    .uk-thumbnav > * > :focus > img {
        opacity: 1 !important;
    }

    .uk-thumbnav > * > :hover > img {
        opacity: 1 !important;
    }

    .uk-overlay-hover:not(:hover):not(.uk-hover) .uk-overlay-panel:not(.uk-ignore) {
        opacity: 0 !important;
    }

    .uk-animation-hover:not(:hover) {
        -webkit-animation-name: none !important;
        animation-name: none !important;
    }

    .uk-animation-hover:not(:hover) [class*=uk-animation-] {
        -webkit-animation-name: none !important;
        animation-name: none !important;
    }

    .uk-dotnav > * > :focus {
        background: rgba(50, 50, 50, .4) !important;
        outline: 0 !important;
    }

    .uk-dotnav > * > :hover {
        background: rgba(50, 50, 50, .4) !important;
        outline: 0 !important;
    }

    .uk-dotnav > * > :active {
        background: rgba(50, 50, 50, .6) !important;
    }

    .uk-dotnav-contrast > * > :focus {
        background: rgba(255, 255, 255, .7) !important;
    }

    .uk-dotnav-contrast > * > :hover {
        background: rgba(255, 255, 255, .7) !important;
    }

    .uk-dotnav-contrast > * > :active {
        background: rgba(255, 255, 255, .9) !important;
    }

    @font-face {
        font-family: 'FontAwesome' !important;
        src: url('https://thesewaneereview.com/wp-content/plugins/gantry5/assets/fonts/fontawesome-webfont.eot?#iefix=4.7.0') format('embedded-opentype'), url('https://thesewaneereview.com/wp-content/plugins/gantry5/assets/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('https://thesewaneereview.com/wp-content/plugins/gantry5/assets/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('https://thesewaneereview.com/wp-content/plugins/gantry5/assets/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('https://thesewaneereview.com/wp-content/plugins/gantry5/assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg') !important;
        font-weight: normal !important;
        font-style: normal !important;
    }

    @-webkit-viewport {
        width: device-width !important;
    }

    @-moz-viewport {
        width: device-width !important;
    }

    @-ms-viewport {
        width: device-width !important;
    }

    @-o-viewport {
        width: device-width !important;
    }

    @viewport {
        width: device-width !important;
    }

    *::before {
        box-sizing: inherit !important;
    }

    *::after {
        box-sizing: inherit !important;
    }

    @font-face {
        font-family: 'rockettheme-apps' !important;
        font-style: normal !important;
        font-weight: normal !important;
        src: url('https://thesewaneereview.com/wp-content/themes/g5_helium/fonts/rockettheme-apps/rockettheme-apps.eot#iefix') format("embedded-opentype"), url('https://thesewaneereview.com/wp-content/themes/g5_helium/fonts/rockettheme-apps/rockettheme-apps.woff2') format("woff2"), url('https://thesewaneereview.com/wp-content/themes/g5_helium/fonts/rockettheme-apps/rockettheme-apps.woff') format("woff"), url('https://thesewaneereview.com/wp-content/themes/g5_helium/fonts/rockettheme-apps/rockettheme-apps.ttf') format("truetype"), url('https://thesewaneereview.com/wp-content/themes/g5_helium/fonts/rockettheme-apps/rockettheme-apps.svg#rockettheme-apps') format("svg") !important;
    }
</style>

<pre style="display: none; box-sizing: inherit; overflow: auto; font-size: 0.9rem; font-family: 'Menlo', 'Monaco', monospace; border-radius: 0.25rem; line-height: 1.15; background-color: #f6f6f6; margin: 2rem 0; padding: 1rem; border: 1px solid #e0e0e5;">  </pre>
<div data-g-offcanvas-swipe="1" data-g-offcanvas-css3="1" style="box-sizing: inherit; position: fixed; top: 0px; left: 0px; right: inherit; bottom: 0px; overflow-x: hidden; overflow-y: auto; text-align: left; width: 12rem; background-color: rgb(255, 255, 255) !important; color: rgb(0, 0, 0) !important;" align="left">
    <div style="box-sizing: inherit; display: flex; -webkit-flex-flow: row wrap; -moz-flex-flow: row wrap; flex-flow: row wrap; text-rendering: optimizespeed; list-style-type: none; margin: 0; padding: 0;">
        <div style="box-sizing: inherit; -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1; min-width: 0; min-height: 0; width: 100%; max-width: 100%; -webkit-flex-grow: 0; -moz-flex-grow: 0; flex-grow: 0; -ms-flex-positive: 0; -webkit-flex-basis: 100%; -moz-flex-basis: 100%; flex-basis: 100%; -ms-flex-preferred-size: 100%;">
            <div style="box-sizing: inherit; margin: 0.625rem; padding: 0.938rem;">
                <div data-g-menu-breakpoint="48rem" style="box-sizing: inherit; margin: -1.563rem;"></div>
            </div>
        </div>
    </div>
</div>
<div style="box-sizing: inherit; min-height: 100vh; position: relative; overflow: hidden; left: 0; background-color: #fff !important; color: #000 !important;">
    <div></div>
    <div data-offcanvas-toggle="" style="box-sizing: inherit; display: none; position: absolute; top: 0.8rem; left: 0.7rem; z-index: 100001; line-height: 1; cursor: pointer; font-size: 2rem; color: #82b8d7; width: 32px; height: 32px;">
        <i style="display: inline-block; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; width: 1.28571429em; text-align: center; box-sizing: inherit; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: 1; font-family: FontAwesome;"></i>
    </div>
    <header style="box-sizing: inherit; display: block; color: #000 !important; position: relative; z-index: 10; background-size: cover; background-color: #fff !important; background-image: none; background-repeat: no-repeat; background-position: center center; padding: 0;">
        <div style="box-sizing: inherit; display: flex; -webkit-flex-flow: row wrap; -moz-flex-flow: row wrap; flex-flow: row wrap; text-rendering: optimizespeed; list-style-type: none; margin: 0; padding: 0;">
            <div style="box-sizing: inherit; -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1; min-width: 0; min-height: 0; width: 100%; max-width: 100%; -webkit-flex-grow: 0; -moz-flex-grow: 0; flex-grow: 0; -ms-flex-positive: 0; -webkit-flex-basis: 100%; -moz-flex-basis: 100%; flex-basis: 100%; -ms-flex-preferred-size: 100%;">
                <div style="box-sizing: inherit; margin: 0; padding: 0;">
                    <div style="box-sizing: inherit; width: 100%; height: 23rem; background-size: cover; background-image: url('https://thesewaneereview.com/wp-content/themes/sewanee_g5/custom/images/201701b-cover-art-1600-430.png.png');">
                        <div style="box-sizing: inherit;">
                            <a href="https://thesewaneereview.com/" style="box-sizing: inherit; text-decoration: none; color: rgba(236, 238, 239, 0.6); -webkit-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; background-color: transparent;"><img src="https://thesewaneereview.com/wp-content/themes/sewanee_g5/custom/images/site-logo-flat.png" alt="" style="box-sizing: inherit; width: auto\9; height: auto; max-width: 100%; display: inline-block; vertical-align: middle; -ms-interpolation-mode: bicubic; position: absolute; left: 0; top: 13%; border: 0;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section style="box-sizing: inherit; display: block; background-color: #fff !important; color: #000 !important; margin-top: 0rem; padding: 0 0 0 0;">
        <div style="box-sizing: inherit; width: 100%; margin: 0 auto; padding: 0;">
            <div style="box-sizing: inherit; display: flex; -webkit-flex-flow: row wrap; -moz-flex-flow: row wrap; flex-flow: row wrap; text-rendering: optimizespeed; list-style-type: none; margin: 0; padding: 0;">
                <div style="box-sizing: inherit; -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1; min-width: 0; min-height: 0; width: 100%; max-width: 100%; -webkit-flex-grow: 0; -moz-flex-grow: 0; flex-grow: 0; -ms-flex-positive: 0; -webkit-flex-basis: 100%; -moz-flex-basis: 100%; flex-basis: 100%; -ms-flex-preferred-size: 100%; border-top-style: solid; border-top-color: #a7a4a0; border-top-width: 1px; border-bottom-color: #a7a4a0; border-bottom-width: 1px; border-bottom-style: solid; padding: 40px;">
                    <div style="box-sizing: inherit; margin: 0; padding: 0;">
                        <p style="box-sizing: inherit; font-size: 2.143rem; font-family: 'adobe-caslon-pro', serif; color: #373737; line-height: 2.571rem; font-weight: 400; margin: 0;">Congratulations, {{ recip_fname }}!</p>
                        <p>You have been given a gift subscription to <em>The Sewanee Review</em> by <a href="mailto:{{ buyer_email }}">{{ buyer_fname }} {{ buyer_lname }}</a>. To set up your account and enter your mailing address, please follow this link to <a href="{{ card_register }}">The Sewanee Review</a>.</p>
                        <p>Your subscription grants you access to one of America's oldest and best literary magazines.  Founded in 1892 by the teacher and critic William Peterfield Trent, the Sewanee Review has published many of the twentieth century’s great writers, including T. S. Eliot, William Faulkner, Eudora Welty, Wallace Stevens, Saul Bellow, Katherine Anne Porter, Marianne Moore, Seamus Heaney, Hannah Arendt, and Ezra Pound. The Review has a long tradition of cultivating emerging talent, from excerpts of Cormac McCarthy and Flannery O’Connor’s first novels to the early poetry of Robert Penn Warren, Sylvia Plath, Robert Lowell, and Christian Wiman. “Whatever the new literature turns out to be,” wrote editor Allen Tate in 1944, “it will be the privilege of the Sewanee Review to print its share of it, to comment on it, and to try to understand it.” The mission remains unchanged.  Enjoy your subscription!</p>
                        <p>Happy Reading, </p>
                        <p><em>The Sewanee Review</em></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="box-sizing: inherit; display: block; background-color: rgba(0, 0, 0, 0.8); padding: 3.18571rem 1.2rem;">
        <div style="box-sizing: inherit; width: inherit; margin: 0 auto; padding: 0;">
            <div style="box-sizing: inherit; display: flex; -webkit-flex-flow: row wrap; -moz-flex-flow: row wrap; flex-flow: row wrap; text-rendering: optimizespeed; list-style-type: none; margin: 0; padding: 0;">
                <div style="box-sizing: inherit; -webkit-box-flex: 0; -moz-box-flex: 0; box-flex: 0; -webkit-flex: 0 50%; -moz-flex: 0 50%; -ms-flex: 0 50%; flex: 0 50%; min-width: 0; min-height: 0; width: 50%; -webkit-flex-grow: 0; -moz-flex-grow: 0; flex-grow: 0; -ms-flex-positive: 0; -webkit-flex-basis: 100%; -moz-flex-basis: 100%; flex-basis: 100%; -ms-flex-preferred-size: 100%;">
                    <div style="box-sizing: inherit; margin: 0; padding: 0;">
                        <div style="box-sizing: inherit;">
                            <div style="box-sizing: inherit; font-family: 'adobe-caslon-pro', serif; color: #fff; font-style: normal; font-size: 1rem; font-weight: 500; line-height: 2.714rem; text-transform: uppercase;">Contact</div>
                            <div style="box-sizing: inherit; color: white;">
                                <p style="box-sizing: inherit; font-size: 1.486rem; margin: 1rem 0;"><em style="box-sizing: inherit;">The Sewanee Review</em> <br style="box-sizing: inherit;">
                                    <span style="box-sizing: inherit; white-space: nowrap;">735 University Ave.</span> <br style="box-sizing: inherit;">
                                    <span style="box-sizing: inherit; white-space: nowrap;">Sewanee, TN 37383 USA</span> <br style="box-sizing: inherit;">
                                    <span style="box-sizing: inherit; white-space: nowrap;">931-598-1246</span> <br style="box-sizing: inherit;">
                                    <span style="box-sizing: inherit; white-space: nowrap;"><a href="mailto:sewaneereview@sewanee.edu" style="box-sizing: inherit; text-decoration: none; color: #a7a4a0; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; background-color: transparent;">sewaneereview@sewanee.edu</a></span>
                                    <br style="box-sizing: inherit;">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="box-sizing: inherit; -webkit-box-flex: 0; -moz-box-flex: 0; box-flex: 0; -webkit-flex: 0 50%; -moz-flex: 0 50%; -ms-flex: 0 50%; flex: 0 50%; min-width: 0; min-height: 0; width: 50%; -webkit-flex-grow: 0; -moz-flex-grow: 0; flex-grow: 0; -ms-flex-positive: 0; -webkit-flex-basis: 100%; -moz-flex-basis: 100%; flex-basis: 100%; -ms-flex-preferred-size: 100%;">
                    <div style="box-sizing: inherit; margin: 0; padding: 0;">
                        <div style="box-sizing: inherit;">
                        </div>
                    </div>
                </div>
            </div>
            <div style="box-sizing: inherit; display: flex; -webkit-flex-flow: row wrap; -moz-flex-flow: row wrap; flex-flow: row wrap; text-rendering: optimizespeed; list-style-type: none; margin: 0; padding: 0;">
                <div style="box-sizing: inherit; -webkit-box-flex: 0; -moz-box-flex: 0; box-flex: 0; -webkit-flex: 0 50%; -moz-flex: 0 50%; -ms-flex: 0 50%; flex: 0 50%; min-width: 0; min-height: 0; width: 50%; -webkit-flex-grow: 0; -moz-flex-grow: 0; flex-grow: 0; -ms-flex-positive: 0; -webkit-flex-basis: 100%; -moz-flex-basis: 100%; flex-basis: 100%; -ms-flex-preferred-size: 100%;">
                    <div style="box-sizing: inherit;"></div>
                </div>
                <div style="box-sizing: inherit; -webkit-box-flex: 0; -moz-box-flex: 0; box-flex: 0; -webkit-flex: 0 50%; -moz-flex: 0 50%; -ms-flex: 0 50%; flex: 0 50%; min-width: 0; min-height: 0; width: 50%; -webkit-flex-grow: 0; -moz-flex-grow: 0; flex-grow: 0; -ms-flex-positive: 0; -webkit-flex-basis: 100%; -moz-flex-basis: 100%; flex-basis: 100%; -ms-flex-preferred-size: 100%;">
                    <div style="box-sizing: inherit; margin: 0; padding: 0;">
                    </div>
                </div>
            </div>
            <div style="box-sizing: inherit; display: flex; -webkit-flex-flow: row wrap; -moz-flex-flow: row wrap; flex-flow: row wrap; text-rendering: optimizespeed; list-style-type: none; margin: 0; padding: 0;">
                <div style="box-sizing: inherit; -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1; min-width: 0; min-height: 0; width: 100%; max-width: 100%; -webkit-flex-grow: 0; -moz-flex-grow: 0; flex-grow: 0; -ms-flex-positive: 0; -webkit-flex-basis: 100%; -moz-flex-basis: 100%; flex-basis: 100%; -ms-flex-preferred-size: 100%;">
                    <div style="box-sizing: inherit; margin: 0; padding: 0;">
                        <div style="box-sizing: inherit;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
